{% extends 'base.html.twig' %}

{% block title %}Weighing {{ weighing.id }}!{% endblock %}


{% block body %}
<h1>Weighing {{ weighing.id }} {{ (weighing.isMilestone) ? ' <i class="fas fa-bullseye"></i>'  : '' }}</h1>

<h3>Date: {{ weighing.registeredAt | ago }}</h3>
<ul>
    <li>Weight: {{ weighing.weight }}</li>
</ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('weighing_show') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('weighing_show') }}
{% endblock %}