<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Find Something to Lift!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>

    <div class="container main-content">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert-{{ type }} alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}

        <footer class="footer">
            <hr />
            <div>
                <img src="{{ asset('build/static/dumbbell.png') }}" height="20" alt=""/>
                <span class="d-inline">&copy; LiftStuff {{ ''|date('Y') }}</span>
            </div>
        </footer>
    </div>
    <!-- /container -->

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</body>
</html>